:root {
  --primary: #0e5e6f;
  --secondary: #0d3d55;
  --blue: #53aeff;
}

body {
  color: var(--primary);
}

[x-cloak] {
  display: none !important;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.font-head {
  font-family: 'Saira', sans-serif;
}

.font-body {
  font-family: 'Poppins', sans-serif;
}

.flag li:nth-of-type(1) {
  border-right: 1px solid #ccc;
  padding-right: 0.8rem;
  margin-right: 0.8rem;
}

.dd-link {
  color: var(--blue);
}

.hero {
  background: url('../images/hero.jpg') center center / cover no-repeat;
}

.top-image {
  width: 140px;
  height: 210px;
  background-image: url(../images/top_shape.png);
  position: absolute;
  left: 20px;
  top: -103px;
  z-index: 1000;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .top-image {
    width: 140px;
    height: 130px;
    background-image: url(../images/top_shape.png);
    position: absolute;
    left: 20px;
    top: -53px;
    z-index: 1000;
  }
}

.contact-area {
  background-color: #f1f6f9;
}

.contact-content {
  background-image: url('../images/wave_shape.png'),
    url('../images/right_shape.png');
  background-repeat: no-repeat;
  background-position: 0 95%, 200% 100%;
}

.form-wrapper {
  background: url('../images/contact_shape.png') center center / cover no-repeat;
  background-color: #0d3c55;
  color: #fff;
}

.form-wrapper button {
  background-color: var(--blue);
}

/* Responsive */

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .hero {
  }
}

@media (min-width: 1024px) {
  .hero {
    height: 650px;
  }
}

@media (min-width: 1280px) {
  .contact-content {
    background-position: 0 95%, 100% 100%;
  }
}
